html {
  font-family: "PT Sans", sans-serif;
}

.button, .header label {
  text-decoration: none;
}
.button:hover, .header label:hover {
  cursor: pointer;
}

* {
  box-sizing: border-box;
}

.green_button {
  color: white;
  background-color: green;
  letter-spacing: 3px;
  font-size: 1.25rem;
  text-transform: uppercase;
  font-weight: 400;
  white-space: nowrap;
  overflow: hidden;
  margin: 20px;
  padding: 10px 30px;
}
.green_button:hover {
  background-color: black;
}

.header {
  position: relative;
  display: block;
  justify-items: center;
  align-items: center;
  background-color: green;
}
.header_layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 80px;
  margin: 0 auto;
  padding-inline: 30px;
}
@media only screen and (min-width: 320px) {
  .header_layout {
    width: 300px;
  }
}
@media only screen and (min-width: 550px) {
  .header_layout {
    width: 500px;
  }
}
@media only screen and (min-width: 768px) {
  .header_layout {
    width: 720px;
  }
}
@media only screen and (min-width: 998px) {
  .header_layout {
    width: 940px;
  }
}
@media only screen and (min-width: 1440px) {
  .header_layout {
    width: 1400px;
  }
}
.header_logo {
  margin: 22px auto 0 0;
}
.header_logo #page_header_logo {
  width: 100%;
  height: 100%;
}
.header_menu {
  display: grid;
}
.header label {
  text-align: end;
}

nav {
  margin: -32px 0 22px auto;
}

#menu_icon {
  fill: orange;
  height: 2em;
  min-width: auto;
}
#menu_icon:hover {
  fill: red;
}

#menu_items {
  display: flex;
  display: none;
}
#menu_items a {
  flex-grow: 1;
  flex-basis: 0;
  padding: 12px;
  color: orange;
  text-decoration: none;
  text-align: center;
  box-sizing: border-box;
  display: block;
  width: 100%;
  border-top: 1px solid yellow;
}
#menu_items a:last-child {
  border-bottom: 1px solid yellow;
}
#menu_items a:hover {
  color: #333;
  background-color: red;
}
@media only screen and (min-width: 320px) {
  #menu_items {
    width: 240px;
  }
}
@media only screen and (min-width: 550px) {
  #menu_items {
    width: 440px;
  }
}
@media only screen and (min-width: 768px) {
  #menu_items {
    width: 660px;
  }
}
@media only screen and (min-width: 998px) {
  #menu_items {
    width: 880px;
  }
}
@media only screen and (min-width: 1440px) {
  #menu_items {
    width: 1340px;
  }
}

#header_logo {
  height: 6rem;
}

#menu_check {
  display: none;
}

.header_menu input:checked ~ #menu_items {
  display: block;
}

footer {
  background-color: black;
  color: white;
  padding: 30px;
  padding-inline: 20px;
  display: grid;
  min-width: 65vw;
  margin-top: 4%;
}
@media only screen and (min-width: 768px) {
  footer {
    grid-template-columns: 1fr 1fr;
    align-items: start;
    justify-items: center;
  }
}
footer a {
  text-decoration: none;
  color: inherit;
}
footer > section {
  display: grid;
  align-items: start;
  line-height: 2;
}

.product_header {
  font-size: 1.9rem;
  margin: 0 0 20px;
  text-align: center;
  text-transform: uppercase;
  color: red;
}
.product_grid {
  display: grid;
  justify-items: center;
  gap: 20px;
}
.product_img {
  width: 240px;
}
.product_container {
  display: grid;
  width: 275px;
  padding-left: 3%;
  padding-right: 3%;
  padding-bottom: 2%;
  margin-inline: auto;
  /* background-color: yellow;border-style: solid;border-color: black; */
}
.product_description {
  text-align: justify;
  margin: 0;
}
.product_price {
  justify-self: end;
  margin-top: 0.4em;
  margin-bottom: 0.4em;
  font-size: 38px;
}
@media only screen and (min-width: 768px) {
  .product_grid {
    grid-template-columns: 1fr 1fr;
  }
  .product_header {
    font-size: 5rem;
  }
  .product_container {
    width: 350px;
  }
  .product_title {
    font-size: 2rem;
  }
  .product_img {
    width: 350px;
  }
}
@media only screen and (min-width: 1440px) {
  .product_container {
    width: 700px;
    grid-template-columns: repeat(8, 1fr);
    gap: 10px;
    grid-auto-rows: auto;
    grid-template-areas: "a b b b b b b b" "c c d d d d d d" "c c d d d d d d" "c c d d d d d d";
    align-items: start;
    justify-items: start;
  }
  .product_image {
    grid-area: c;
  }
  .product_title {
    grid-area: a;
    justify-self: start;
  }
  .product_description {
    grid-area: d;
  }
  .product_price {
    grid-area: b;
  }
}/*# sourceMappingURL=products.css.map */