html {
  font-family: "PT Sans", sans-serif;
}

.button, .header label {
  text-decoration: none;
}
.button:hover, .header label:hover {
  cursor: pointer;
}

* {
  box-sizing: border-box;
}

.green_button {
  color: white;
  background-color: green;
  letter-spacing: 3px;
  font-size: 1.25rem;
  text-transform: uppercase;
  font-weight: 400;
  white-space: nowrap;
  overflow: hidden;
  margin: 20px;
  padding: 10px 30px;
}
.green_button:hover {
  background-color: black;
}

.header {
  position: relative;
  display: block;
  justify-items: center;
  align-items: center;
  background-color: green;
}
.header_layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 80px;
  margin: 0 auto;
  padding-inline: 30px;
}
@media only screen and (min-width: 320px) {
  .header_layout {
    width: 300px;
  }
}
@media only screen and (min-width: 550px) {
  .header_layout {
    width: 500px;
  }
}
@media only screen and (min-width: 768px) {
  .header_layout {
    width: 720px;
  }
}
@media only screen and (min-width: 998px) {
  .header_layout {
    width: 940px;
  }
}
@media only screen and (min-width: 1440px) {
  .header_layout {
    width: 1400px;
  }
}
.header_logo {
  margin: 22px auto 0 0;
}
.header_logo #page_header_logo {
  width: 100%;
  height: 100%;
}
.header_menu {
  display: grid;
}
.header label {
  text-align: end;
}

nav {
  margin: -32px 0 22px auto;
}

#menu_icon {
  fill: orange;
  height: 2em;
  min-width: auto;
}
#menu_icon:hover {
  fill: red;
}

#menu_items {
  display: flex;
  display: none;
}
#menu_items a {
  flex-grow: 1;
  flex-basis: 0;
  padding: 12px;
  color: orange;
  text-decoration: none;
  text-align: center;
  box-sizing: border-box;
  display: block;
  width: 100%;
  border-top: 1px solid yellow;
}
#menu_items a:last-child {
  border-bottom: 1px solid yellow;
}
#menu_items a:hover {
  color: #333;
  background-color: red;
}
@media only screen and (min-width: 320px) {
  #menu_items {
    width: 240px;
  }
}
@media only screen and (min-width: 550px) {
  #menu_items {
    width: 440px;
  }
}
@media only screen and (min-width: 768px) {
  #menu_items {
    width: 660px;
  }
}
@media only screen and (min-width: 998px) {
  #menu_items {
    width: 880px;
  }
}
@media only screen and (min-width: 1440px) {
  #menu_items {
    width: 1340px;
  }
}

#header_logo {
  height: 6rem;
}

#menu_check {
  display: none;
}

.header_menu input:checked ~ #menu_items {
  display: block;
}

footer {
  background-color: black;
  color: white;
  padding: 30px;
  padding-inline: 20px;
  display: grid;
  min-width: 65vw;
  margin-top: 4%;
}
@media only screen and (min-width: 768px) {
  footer {
    grid-template-columns: 1fr 1fr;
    align-items: start;
    justify-items: center;
  }
}
footer a {
  text-decoration: none;
  color: inherit;
}
footer > section {
  display: grid;
  align-items: start;
  line-height: 2;
}

.gallery {
  position: relative;
  min-height: 500px;
  margin-top: 63px;
}
.gallery img {
  height: 400px;
  width: 300px;
  object-fit: cover;
  object-position: center;
}
@media only screen and (min-width: 320px) {
  .gallery img {
    width: 300px;
  }
}
@media only screen and (min-width: 550px) {
  .gallery img {
    width: 500px;
  }
}
@media only screen and (min-width: 768px) {
  .gallery img {
    width: 720px;
  }
}
@media only screen and (min-width: 998px) {
  .gallery img {
    width: 940px;
  }
}
@media only screen and (min-width: 1440px) {
  .gallery img {
    width: 1400px;
  }
}
.gallery * {
  scrollbar-color: transparent transparent;
  scrollbar-width: 0px;
}
.gallery ol,
.gallery li {
  list-style: none;
  margin: 0;
  padding: 0;
}
.gallery_viewport {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  overflow-x: scroll;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
}
.gallery_slide {
  position: relative;
  flex: 0 0 100%;
  width: 100%;
  overflow: hidden;
}
.gallery_content {
  position: absolute;
  text-align: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  scroll-snap-align: center;
}
.gallery_prev, .gallery_next {
  position: absolute;
  top: 0;
  width: 8rem;
  height: 8rem;
  transform: translate(-30px, -63%);
  top: 50%;
  bottom: 0;
  border-radius: 50%;
  font-size: 0;
  outline: 0;
}
.gallery_prev {
  transform: translate(-380px, -63%);
}
@media only screen and (min-width: 320px) {
  .gallery_prev {
    transform: translate(-340px, -63%);
  }
}
@media only screen and (min-width: 550px) {
  .gallery_prev {
    transform: translate(-540px, -63%);
  }
}
@media only screen and (min-width: 768px) {
  .gallery_prev {
    transform: translate(-760px, -63%);
  }
}
@media only screen and (min-width: 998px) {
  .gallery_prev {
    transform: translate(-980px, -63%);
  }
}
@media only screen and (min-width: 1440px) {
  .gallery_prev {
    transform: translate(-1440px, -63%);
  }
}
.gallery_navigation {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
}
.gallery_navigation ol,
.gallery_navigation li {
  display: inline-block;
  list-style: none;
}
.gallery_navigation_button {
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  background-color: #333;
  background-clip: content-box;
  border: 0.25rem solid transparent;
  border-radius: 50%;
  font-size: 0;
  transition: transform 0.1s;
}
.gallery_navigation_button:hover {
  background-color: #444;
}
.gallery_button_before, .gallery_button_after {
  display: inline;
  justify-self: center;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  pointer-events: none;
}
.gallery_button_before svg, .gallery_button_after svg {
  height: 30px;
  width: 30px;
}
.gallery_button_before {
  transform: translate(-150px, 200px);
}
@media only screen and (min-width: 320px) {
  .gallery_button_before {
    transform: translate(-150px, 200px);
  }
}
@media only screen and (min-width: 550px) {
  .gallery_button_before {
    transform: translate(-250px, 200px);
  }
}
@media only screen and (min-width: 768px) {
  .gallery_button_before {
    transform: translate(-360px, 200px);
  }
}
@media only screen and (min-width: 998px) {
  .gallery_button_before {
    transform: translate(-470px, 200px);
  }
}
@media only screen and (min-width: 1440px) {
  .gallery_button_before {
    transform: translate(-700px, 200px);
  }
}
.gallery_button_after {
  transform: translate(150px, 200px);
}
@media only screen and (min-width: 320px) {
  .gallery_button_after {
    transform: translate(150px, 200px);
  }
}
@media only screen and (min-width: 550px) {
  .gallery_button_after {
    transform: translate(250px, 200px);
  }
}
@media only screen and (min-width: 768px) {
  .gallery_button_after {
    transform: translate(360px, 200px);
  }
}
@media only screen and (min-width: 998px) {
  .gallery_button_after {
    transform: translate(470px, 200px);
  }
}
@media only screen and (min-width: 1440px) {
  .gallery_button_after {
    transform: translate(700px, 200px);
  }
}

.deals {
  display: grid;
  margin-top: 60px;
  margin-bottom: 80px;
  max-width: 100vw;
}
.deals_container {
  background-color: white;
  margin-top: -320px;
  justify-self: center;
}
@media only screen and (min-width: 320px) {
  .deals_container {
    width: 300px;
  }
}
@media only screen and (min-width: 550px) {
  .deals_container {
    width: 500px;
  }
}
@media only screen and (min-width: 768px) {
  .deals_container {
    width: 720px;
  }
}
@media only screen and (min-width: 998px) {
  .deals_container {
    width: 940px;
  }
}
@media only screen and (min-width: 1440px) {
  .deals_container {
    width: 1400px;
  }
}
.deals_title {
  font-size: 3rem;
  text-transform: uppercase;
  margin: 0;
  margin-left: 50px;
}
@media only screen and (min-width: 768px) {
  .deals_title {
    font-size: 5rem;
  }
}
.deals_grid {
  display: grid;
  justify-items: center;
}
@media only screen and (min-width: 998px) {
  .deals_grid {
    grid-template-columns: auto auto;
  }
}
.deals_deal {
  display: grid;
  box-sizing: border-box;
}
.deals_deal img {
  width: 250px;
  height: 300px;
  object-fit: cover;
}
.deals_deal h2 {
  font-size: 3rem;
  margin: 0;
}
.deals_deal p {
  width: 250px;
  text-align: justify;
}
@media only screen and (min-width: 550px) {
  .deals_deal img, .deals_deal p {
    width: 400px;
  }
}
@media only screen and (min-width: 768px) {
  .deals_deal img, .deals_deal p {
    width: 500px;
  }
}
@media only screen and (min-width: 998px) {
  .deals_deal img, .deals_deal p {
    width: 360px;
  }
}
@media only screen and (min-width: 1440px) {
  .deals_deal img, .deals_deal p {
    width: 500px;
  }
}

.button_container {
  padding: 20px;
  text-align: center;
}

#deals_button {
  display: inline;
}

.rectangle {
  height: 200px;
  width: 105vw;
  display: inline-block;
  overflow: hidden;
}
.rectangle_container {
  width: 100%;
  overflow: hidden;
  height: 420px;
  z-index: -1;
}

#rect1 {
  background-color: green;
  transform: skew(20deg) translateX(-150px);
  margin-bottom: 20px;
}

#rect2 {
  background-color: red;
  justify-self: end;
  transform: skew(-20deg) translateX(120px);
}

.contact {
  text-align: center;
}
.contact h1 {
  margin-top: 0;
  font-size: 2rem;
  color: orange;
}
.contact_container {
  background-color: green;
  margin-inline: auto;
  padding: 3rem;
}
@media only screen and (min-width: 320px) {
  .contact_container {
    width: 300px;
  }
}
@media only screen and (min-width: 550px) {
  .contact_container {
    width: 500px;
  }
}
@media only screen and (min-width: 768px) {
  .contact_container {
    width: 720px;
  }
}
@media only screen and (min-width: 998px) {
  .contact_container {
    width: 940px;
  }
}
@media only screen and (min-width: 1440px) {
  .contact_container {
    width: 1400px;
  }
}
.contact_button_container {
  display: grid;
  background-color: white;
  padding: 3rem;
}/*# sourceMappingURL=style.css.map */